.body {
  background-color: #e5e5e5;
  letter-spacing: 0.03em;
  font-size: 14px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.link_color {
  color: #2196f3;
}
.contact_font {
  color: #757575;
}
.contact_font:hover,
.contact_font:focus {
  color: #2196f3;
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
:root {
  --logo-color: #2196f3;
}

.logo_color {
  color: var(--logo-color);
}
.nav_font:hover,
.nav_font:focus {
  color: #2196f3;
}
.nav_font {
  font-family: Roboto;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.button_background {
  background-color: #2f303a;
}
.hero_text {
  font-family: Roboto;

  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;

  text-transform: uppercase;

  color: #ffffff;
}
.hero_button {
  width: 200px;
  height: 50px;
  background: #2196f3;
}
.hero_button_color {
  color: #ffffff;
  font-family: Roboto;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}
.transperent {
  opacity: 0;
}
.text_big {
  font-family: Roboto;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.text_small {
  font-family: Roboto;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.what_we_do {
  font-family: Roboto;

  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.our_team {
  font-family: Roboto;

  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.name {
  font-family: Roboto;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.position_text {
  font-family: Roboto;

  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
.footer {
  background-color: #2f303a;
}
.address {
  font-family: Roboto;

  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}
.selection-btn {
  cursor: pointer;
}
.selection-btn:hover,
.selection-btn:focus {
  background-color: #2196f3;
  color: #e5e5e5;
}
.foother_address {
  font-style: normal;
}
.footer_nav {
  color: #757575;
}
