.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.logo_color {
  color: #2196f3;
}
